[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
explicit_defaults_for_timestamp

#log-error	= /var/log/mysql/error.log

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
symbolic-links=0
tmp_table_size=256M
max_heap_table_size=256M
innodb_file_per_table=1
innodb_file_format=Barracuda
innodb_strict_mode=0
innodb_page_size=64k

## Greatly reduce memory consumption
performance_schema = off
innodb_log_file_size=10M
innodb_log_buffer_size=5M
innodb_buffer_pool_size=50M

## Older values, don't change them if you haven't experiencing performance issues
#innodb_log_file_size=256M
#innodb_log_buffer_size=256M
#innodb_buffer_pool_size=256M
